/.bundle
/.idea
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/tmp
config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
/config/database.local.yml
memo.md
vendor/bundle
vendor/bower_components
.DS_Store
public/development/
public/uploads
coverage/
.*.un~
/node_modules
