#maincontents
  .row
    .col-md-12
      %h2
        %span
          TokyoTownName
      %p.read

        東京を"すべて"歩き尽くした、とは何を持って言えるか
        %br
        ひとつには、街区表示板をすべての町名について撮影すればいいのでは
        %br
        ついでに東京中の風景も一覧できるようになるのでは
        %br
        という目論見で2013年6月から東京中の街区表示板を撮影しています
        %br
        意外にもこのニッチなコンセプトに共感してくれる人が多く
        %br
        = "色々な方が写真をUPしてくださり、#{Date.today.year}年#{Date.today.month}月段階で28%まで集まりました"
        %br
        タフな目標なので、これからも気長に集めていく所存です

      .contacts
        %p
          公式note
          %br
        %p(href="https://note.mu/tokyotownname")
          tokyotownname
#subcontents
  .rule
    %h3
      街区表示板
    %p
      町名と地番が書かれた細長いプレートです。建物などに貼られているので見たことがあるかと思います。
      %br
      慣れてくると、遠目からでもすぐに見分けられるようになります
      %br
      %a(href="https://ja.wikipedia.org/wiki/%E8%A1%97%E5%8C%BA%E8%A1%A8%E7%A4%BA%E6%9D%BF")
        街区表示板 - Wikipedia
      %br
      %a(href="https://ja.wikipedia.org/wiki/%E4%BD%8F%E5%B1%85%E8%A1%A8%E7%A4%BA")
        住居表示 - Wikipedia


    %h3
      東京23区の町名
    %p
      全部で932つあります。が、住居表示を実施していない町には街区表示板が貼られていないため、コンプは出来そうにありません。
      %br
      なにかクールな代替策を考えているところです
    %h3
      UPのしかた
    %p
      FacebookかTwitterのアカウントでログインをするとUPできるようになります
      %br
      なるべく街の雰囲気が分かるように撮るのが好ましい気がしますが、特にきまりはありません
      %br
      構図は縦でも横でも正方形でもよく、昼でも夜でも構いません。
      %br
      他人の個人住宅を引いた構図で撮ることは避けましょう
