.row
  .col-md-6
    %img(src="http://www.tokyotownname.com/abouttop.jpg")
  .col-md-6
    %h2
      TokyoTownName
    %br
    東京の風景を集めるプロジェクトです。
    %br
    東京23区にはのべ932の地名があります。
    %br
    その場所の 街区表示板 と一緒に都市の写真を撮ることで東京の全てを一覧できるようにすることが目的です。
    %br
    2013年6月から始まり、2014年3月の段階で2割少しまで集まりました。
    %br
    アップロード はどなたでも可能です（要Twitter/Facebookログイン）ので、
    %br
    東京散歩のついでにあなたも集めてニヤニヤしてみませんか?

