%h2
  Project達成状況
%hr

- Ward.all.each do |ward|
  %div(style="float:left;padding:20px;background-color:#eee")
    %p
      = link_to ward.name, ward_path(ward)
    %canvas(id="lineChartCanvas-#{ward.id}" width="100" height="100")
    %p
      34 / 123 23%

:javascript
  new Archive();
