%h1
  MyPage

- if current_user.present?

  %h4
    = current_user.name
    = image_tag current_user.authentication.image, width: 100

  %h3
    投稿数 #{current_user.photos.count}

  %h3
    住んでた街
  /- Live.where(kind: 'lived', user: current_user).each do |hoge|
  /  %p
  /    = hoge.livable.town.name

  %h3
    Photos

  - current_user.photos.each do |photo|
    = image_tag photo.image.image_url, width: 140
