%h2
  まちを探す

.row
  .col-md-5
    %form
      .form-group
        %input.form-control#searchtown(type="text" placeholder="町名を検索")

#search-links
  - @wards.each do |ward|
    .search-links-ward-unit
      %h3.search-ward-name
        %img(src="/images/wards/101.png" alt="101" style="width:40px;")
        = link_to ward.name, ward_path(ward)
      .select
        - ward.towns.each do |town|
          %span.search-links-town-name(data-town-name="#{town.name}")
            = link_to town.name, town_path(town)

:javascript
  new Search();
