/*
 *= require bootstrap/dist/css/bootstrap-theme
 *= require bootstrap/dist/css/bootstrap
 *= require_self
*/



html, body {
	height:100%;
	background-color:#F7F7F7;
	margin-top: 60px;
	-webkit-font-smoothing: antialiased;
}

div#ttn-masonry-container {
	margin: 0 auto;
}

/******* index.html.haml *******/
/*_____.contentsArea_____*/
div.contentsArea {
    width:100%;
    position:relative;
    height:auto !important; /*IE6対策*/
    height:100%; /*IE6対策*/
    min-height:100%;
    padding-bottom:160px;
}

/******* about.html.haml *******/
/*_____#maincontents____*/
div#maincontents {
	background: url("../images/about/townimage.jpg") no-repeat right;
	position: relative;
	width: 80%;
	margin: 0 auto;
}
div#maincontents .col-md-12 {
	color: #FFF;
	padding: 20px 40px;
}
div#maincontents .col-md-12 h2 {
	font-size: 21px;
	font-family: Garamond;
	font-weight: bold;;
	margin-bottom: 20px;
}
div#maincontents .col-md-12 h2 span {
	font-size: 110%;
}
div#maincontents .col-md-12 p {
	line-height: 1.7em;
}
div#maincontents .col-md-12 p.read {
	margin-bottom: 50px;
	font-size: 18px;
}
/*_____#subcontents____*/
div#subcontents {
	margin-top: 40px;
}
div#subcontents h3, p{
	font-size: 16px;
}
div#subcontents h3{
	padding: 0.2em 0.4em;
	border-bottom: solid 2px #EB6000;
	display: inline-block;


/*_____.footerArea_____*/
div.footerArea {
	width:100%;
	height:90px;
	position:absolute;
    bottom:0;
}
div.footerImageArea {
	width:90%;
	margin:0 auto;
	position: absolute;;
	bottom: 25px;
	right: 0;
	left: 0;
}
div.footerTextArea {
	width:100%;
	height:25px;
	background-color:#F5AE7E;
	position: absolute;;
	bottom: 0;
}
div.footerTextAreaWrap {
	width:1000px;
	margin:0 auto;
	color:#FFF;
	clear:both;
}
div.footerTextAreaWrap p {
	margin-top:0.5em;
	font-size:12px;
	font-weight:lighter;
}
div.footerTextAreaWrap p.created {
	float:left;
}
div.footerTextAreaWrap p.copyright {
	float:right;
}
