//------------------------------------------------------------------------------------------------
// IMPORT
//------------------------------------------------------------------------------------------------

@import "core/reset";


//------------------------------------------------------------------------------------------------
// SETTING
//------------------------------------------------------------------------------------------------

// PREFIX
$set_prefix: -webkit-, -moz-, -ms-, -o-, '';

// Color
$vn-color__white: #ffffff;
$vn-color__black: #222222;
$vn-color__ultraLightGrey: #EFEFEF;
$vn-color__lightGrey: #e1e5e7;
$vn-color__grey: #B5B5B5;
$vn-color__orange: #FF5722;

// Font size
$vn-fontSize__display1: 34px;
$vn-fontSize__title: 21px;
$vn-fontSize__subhead: 16px;
$vn-fontSize__body: 13px;
$vn-fontSize__caption: 11px;

// Radius
$vn-radius: 3px;

//------------------------------------------------------------------------------------------------
// MIXIN
//------------------------------------------------------------------------------------------------

// SHADOW

@mixin box-shadow($r, $g, $b, $a, $v1, $v2, $v3, $v4){
  @each $prefix in $set_prefix {
    #{$prefix}box-shadow: rgba($r, $g, $b, $a) $v1 $v2 $v3 $v4;
  }
}

// Radius

@mixin border_radius($br_value) {
  @each $prefix in $set_prefix {
      #{$prefix}border-radius: $br_value;
  }
}

// Media queries

$width-pc: 940px;
$width-tablet: 768px;
$width-smartphone: 480px;
$width-scrollbar: 20px;

@mixin mediaquery-pc {
  @media only screen and (min-width: $width-tablet + $width-scrollbar) {
    @content;
  }
}
@mixin mediaquery-tablet {
  @media only screen and (min-width: $width-smartphone + $width-scrollbar) and (max-width: $width-tablet + $width-scrollbar - 1) {
    @content;
  }
}
@mixin mediaquery-smartphone {
  @media only screen and (max-width: $width-smartphone + $width-scrollbar - 1) {
    @content;
  }
}

// Clearfix

@mixin clearfix{
  *zoom:1;
  &:after{
    display: block;
    visibility:hidden;
    clear: both;
    height: 0;
    content: ".";
  }
}

// Box

@mixin display($value){
  @each $prefix in $set_prefix {
    display: #{$prefix}$value;
  }
}
@mixin box-flex($value){
  @each $prefix in $set_prefix {
    #{$prefix}box-flex: $value;
  }
}

// Txt reset
@mixin txt-reset{
  font-size: $vn-fontSize__body !important;
  h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ul, ol, li{
    font-size: $vn-fontSize__body !important;
  }
  h1, h2, h3, h4, h5, h6, p, blockquote, dl, ul, ol{
    margin-bottom: 10px;
  }
  li{
    list-style-type : disc;
    list-style-position: inside;
  }
}


//------------------------------------------------------------------------------------------------
// BASE
//------------------------------------------------------------------------------------------------

body {
  background-color: $vn-color__ultraLightGrey;
  color: $vn-color__black;
  line-height: 1.5;
  font-family: "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
  word-wrap: break-word;
}

p, blockquote, dl, dt, dd, ul, ol, li, form {
  font-size: $vn-fontSize__body;
}

a, a:focus{overflow: hidden; outline: none;}
a{
  color: $vn-color__black;
  cursor: pointer;
}

a{
  text-decoration: none;
  &:hover{
    text-decoration: none;
    color: $vn-color__orange;
  }
}

*, *:before, *:after {
  -moz-box-sizing: border-box !important;
  -webkit-box-sizing: border-box !important;
  box-sizing: border-box !important;
}

section{
  background: #fff;
  margin-bottom: 1px;
  padding: 20px;
}

nav{
  background: #fff;
  margin-bottom: 1px;
}





//------------------------------------------------------------------------------------------------
// UTILITY
//------------------------------------------------------------------------------------------------

// Text
.u-txtDisplay{
  font-size: 24px;
  line-height: 1.3;
}
.u-txtTitle{
  font-size: 18px;
  line-height: 1.4;
}
.u-txtSubhead{
  font-size: 15px;
  line-height: 1.4;
}
.u-txtBodyBold{
  font-size: 13px;
  font-weight: bold;
}
.u-txtBody{
  font-size: 13px;
}
.u-txtCaption{
  font-size: 11px;
  line-height: 1;
}

// Button
.u-button{
  display: block;
  border: 1px solid $vn-color__lightGrey;
  padding: 5px;
  background-color: #fff;
  line-height: 1;
  @include border_radius($vn-radius);
}

// Image
.u-imgFit{
  width: 100%;
  height: auto;
}


//------------------------------------------------------------------------------------------------
// LAYOUT
//------------------------------------------------------------------------------------------------

// Header
#header{
  width: 100%;
  background: $vn-color__black;
  @include box-shadow(0,0,0,0.1,0px,1px,1px,0px);
}

// Content
#content{
  @include clearfix;
  @include mediaquery-pc {
    @include display(box);
    width: 100%;
    max-width: 1400px;
    #columnFull{
      width: 100%;
    }
    #columnLeft{
      width: 180px;
      margin-right: 1px;
    }
    #columnMain{
      @include box-flex(1);
      margin-right: 1px;
    }
    #columnSide{
      width: 260px;
    }
/*     .grid{
  width: 33.3333333%;
  float: left;
  padding: 0 10px 20px 10px;
} */
  }
  @include mediaquery-tablet {

  }
  @include mediaquery-smartphone {

  }
}


//------------------------------------------------------------------------------------------------
// COMPONENT
//------------------------------------------------------------------------------------------------

.c-grid{
  @include clearfix;
  &__items{
    float: left;
    padding: 10px;
    @include mediaquery-pc {
      width: 33.3%;
    }
    @include mediaquery-tablet {
      width: 50%;
    }
    @include mediaquery-smartphone {
      width: 50%;
    }
  }
}

.c-header{
  padding: 0 20px;
  @include clearfix;
  height: 50px;
  &__logo{
    float: left;
    line-height: 50px;
    font-size: 20px;
    >a{
      color: #ffffff;
    }
  }
  &__navi{
    text-align: right;
    float: right;
    padding-top: 15px;
    >li{
      display: inline-block;
      margin-left: 10px;
      a{
        color: $vn-color__white;
      }
    }
  }
}

// Heading
.u-headingSub{
  @extend .u-txtSubhead;
  padding:0 0 10px 0;
  //border-bottom: 1px solid $vn-color__ultraLightGrey;
}

// Navigation
.c-navigation{
  &__items{
    border-top: 1px solid $vn-color__ultraLightGrey;
    @extend .u-txtBodyBold;
    >a{
      display: block;
      padding: 15px;
      line-height: 1;
    }
    &:first-child{
      padding-top: 0;
      border-top: none;
    }
  }
}

// Item
.c-itemShort{
  display:table;
  width: 100%;
  &__thumb{
    display:table-cell;
    vertical-align: top;
    width: 30px;
    height: 30px;
    &--medium{
      width: 60px;
      height: 60px;
    }
    >img{
      @extend .u-imgFit;
    }
  }
  &__meta{
    display:table-cell;
    vertical-align: middle;
    padding-left: 10px;
  }
  &__title{
    @extend .u-txtBodyBold;
  }
  &__caption{
    @extend .u-txtCaption;
    margin-bottom: 5px;
  }
}

// Item
.c-itemBasic{
  position: relative;
  &__thumb{
    display:table-cell;
    vertical-align: top;
    width: 180px;
    height: 180px;
    >img{
      @extend .u-imgFit;
    }
  }
  &__thumb--full{
    margin-bottom: 15px;
    >img{
      @extend .u-imgFit;
    }
  }
  &__meta{
    display:table-cell;
    vertical-align: top;
    padding-left: 20px;
  }
  &__title{
    @extend .u-txtTitle;
    margin-bottom: 15px;
  }
  &__title--display{
    @extend .u-txtDisplay;
    margin-bottom: 15px;
  }
  &__body{
    @include txt-reset;
    margin-top: 10px;
  }
  >.c-itemShort{
    margin-bottom: 10px;
  }
  >.c-player{
    margin-bottom: 10px;
  }
  >.u-txtCaption{
    position: absolute;
    top: 20px;
    right: 0;
  }
}

// List
.c-itemList{
  &__items{
    padding: 20px 0;
    border-top: 1px solid $vn-color__ultraLightGrey;
    position: relative;
    &:first-child{
      padding-top: 0;
      border-top: none;
    }
  }
}
.c-itemList--short{
  &__items{
    padding-top: 15px;
    /* border-top: 1px solid $vn-color__ultraLightGrey; */
  }
}

// Player
.c-player{
  width: 100%;
}

// Tagcloud
.c-tagcloud{
  font-size: 0;
  .c-tagcloud__items{
    display: inline-block;
    font-size: normal;
    margin-right: 5px;
    margin-bottom: 5px;
    >a{
      @extend .u-button;
      @extend .u-txtCaption;
    }
  }
}





// Episode
.c-episode{

}
