/*
 *= require bootstrap/dist/css/bootstrap-theme
 *= require bootstrap/dist/css/bootstrap
 *= require_self
*/



html, body {
	height:100%;
	background-color:#F7F7F7;
	margin-top: 60px;
}

div#ttn-masonry-container {
	margin: 0 auto;
}

/*_____.contentsArea_____*/
div.contentsArea {
    width:100%;
    position:relative;
    height:auto !important; /*IE6対策*/
    height:100%; /*IE6対策*/
    min-height:100%;
    padding-bottom:160px;
}

/*_____.footerArea_____*/
div.footerArea {
	width:100%;
	height:90px;
	position:absolute;
    bottom:0;
}
div.footerImageArea {
	width:80%;
	margin:0 auto;
	position: absolute;;
	bottom: 25px;
}
div.footerTextArea {
	width:100%;
	height:25px;
	background-color:#F5AE7E;
	position: absolute;;
	bottom: 0;
}
div.footerTextAreaWrap {
	width:1000px;
	margin:0 auto;
	color:#FFF;
	clear:both;
}
div.footerTextAreaWrap p {
	margin-top:0.5em;
	font-size:12px;
	font-weight:lighter;
}
div.footerTextAreaWrap p.created {
	float:left;
}
div.footerTextAreaWrap p.copyright {
	float:right;
}
