/*
 *= require bootstrap/dist/css/bootstrap-theme
 *= require bootstrap/dist/css/bootstrap
 *= require_self
*/


/******* index.html.haml *******/
/*_____.contentsArea_____*/
div.contentsArea {
    width: 100%;
    position: relative;
    height: auto !important; /*IE6対策*/
    height: 100%; /*IE6対策*/
    min-height: 100%;
    padding-bottom: 160px;
}


/******* about.html.haml *******/
/*_____#maincontents____*/
div#maincontents {
	background: url("../images/about/townimage.jpg") no-repeat right;
	background-size: cover;
	position: relative;
	width: 100%;
	margin: 0 auto;
}
div#maincontents .col-md-12 {
	color: #FFF;
	padding: 20px 40px;
}
div#maincontents .col-md-12 h2 {
	font-size: 21px;
	font-family: Garamond;
	font-weight: bold;;
	margin-bottom: 20px;
}
div#maincontents .col-md-12 h2 span {
	font-size: 110%;
}
div#maincontents .col-md-12 p {
	line-height: 1.7em;
}
div#maincontents .col-md-12 p.read {
	margin-bottom: 50px;
	font-size: 18px;
}
/*_____#subcontents____*/
div#subcontents {
	margin-top: 40px;
}
div#subcontents h3, p{
	font-size: 16px;
}
div#subcontents h3{
	padding: 0.2em 0.4em;
	border-bottom: solid 2px #EB6000;
	display: inline-block;
}


/******* search.html.haml *******/
#search-links .search-links-ward-unit h3.search-ward-name {
	font-size: 21px;
}
#search-links .search-links-ward-unit h3.search-ward-name img {
	margin-right: 8px;
	margin-bottom: 4px;
}
#search-links .search-links-ward-unit .select {
	display: block;
	overflow: hidden;
}
#search-links .search-links-ward-unit .select .search-links-hoge {
	width: 160px;
	display: inline-block;
	float: left;
	margin-bottom: 0.5em;
}


/******* new.html.haml *******/
#search .row {
	padding-top: 30px;
}
#search .select h3.info {
	font-size: 21px;
}
#search .select h3.info img {
	margin-right: 8px;
	margin-bottom: 4px;
}
#search .select .townname {
	display: block;
	overflow: hidden;
}
#search .select .townname a {
	width: 160px;
	display: inline-block;
	float: left;
	margin-bottom: 0.5em;
}


/******* application.html.haml *******/
#ttnEntryOrLoginModal {
	position: relative;
	overflow: hidden;
}
#ttnEntryOrLoginModal h3 {
	text-align: center;
	margin: 50px 0 30px; 
}
.clearfix:after{
	content: "";
	clear: both;
	display: block;
}
#ttnEntryOrLoginModal .login-area {
    list-style-type: none;
    padding-left: 0;
	font-size: 16px;
	position: relative;
	left: 50%;
	float: left;
	margin-bottom: 30px;
}
#ttnEntryOrLoginModal .login-area li {
    position: relative;
    left: -50%;
    float: left;
    text-align: center;
    font-weight: bold;
    margin: 10px;
	-webkit-border-top-left-radius: 5px;  
    -webkit-border-top-right-radius: 5px;  
    -webkit-border-bottom-right-radius: 5px;  
    -webkit-border-bottom-left-radius: 5px;  
    -moz-border-radius-topleft: 5px;  
    -moz-border-radius-topright: 5px;  
    -moz-border-radius-bottomright: 5px;  
    -moz-border-radius-bottomleft: 5px;  
}
#ttnEntryOrLoginModal .login-area li a{
    width: 330px;
    padding: 10px;
    margin: 10px;
	color: #FFF;
	display: block;
}
#ttnEntryOrLoginModal .login-area li.btn_twt{ 
	background: #55acee;
	width: 330px;
}
#ttnEntryOrLoginModal .login-area li.btn_fb {
	background-color: #3b5988;
	width: 330px;
}



/******* common *******/
html, body {
	height: 100%;
	background-color: #F7F7F7;
	margin-top: 60px;
	-webkit-font-smoothing:antialiased;
}
div#ttn-masonry-container {
	margin: 0 auto;
}
a {
	color: #EB6000;
}
a:hover {
	color: #EB6000;
	font-weight: bold;
}



/*_____.footerArea_____*/
div.footerArea {
	width: 100%;
	height: 90px;
	position: absolute;
    bottom: 0;
    line-height: 0;
}
div.footerImageArea {
	width: 90%;
	margin: 0 auto;
	position: absolute;;
	bottom: 25px;
	right: 0;
	left: 0;
}
div.footerTextArea {
	width: 100%;
	height: 25px;
	background-color: #F5AE7E;
	position: absolute;;
	bottom: 0;
}
div.footerTextAreaWrap {
	width: 1000px;
	margin: 0 auto;
	color: #FFF;
	clear: both;
}
div.footerTextAreaWrap p {
	margin-top: 0.5em;
	font-size: 12px;
	font-weight: lighter;
}
div.footerTextAreaWrap p.created {
	float: left;
}
div.footerTextAreaWrap p.copyright {
	float: right;
}
