.row
  .col-md-2
    %p img
  .col-md-10
    %h3
      = @town.name
    %p
      = "投稿数 42"

    %h5
      住んでた街: 三軒茶屋


%hr
.row
  / TODO: masonryにする
  - @town.photos.each do |photo|
    = image_tag photo.image.image_url, style: "width:200px"
